﻿﻿{extend name="template/base" /}
{block name="title"}数据趋势{/block}
{block name="content"}
<script src="https://cdn.bootcss.com/echarts/4.0.0/echarts.min.js"></script>
<div class="page-container">
    <div><center><h2 class="title">2018年3月数据趋势图</h2></center></div>
    <div class="date col-sm-4" style="margin-right: 0;float: right;text-align:right;">
        <div class="col-sm-5 pull-right">
            <div class="select-box ">
                <select name="year" id="year" class="select">
                    <option value="2018">2018年</option>
                    <option value="2019">2019年</option>
                    <option value="2020">2020年</option>
                    <option value="2021">2021年</option>
                    <option value="2022">2022年</option>
                </select>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="select-box ">
                <select name="month" id="month" class="select">
                    <option value="1">1月</option>
                    <option value="2">2月</option>
                    <option value="3">3月</option>
                    <option value="4">4月</option>
                    <option value="5">5月</option>
                    <option value="6">6月</option>
                    <option value="7">7月</option>
                    <option value="8">8月</option>
                    <option value="9">9月</option>
                    <option value="10">10月</option>
                    <option value="11">11月</option>
                    <option value="12">12月</option>
                </select>
            </div>
        </div>
    </div>

    <div class="chart" style="margin:40px;">
        <div id="amount" style="margin: 0 auto;height:400px;width:100%;"></div><br>
        <div id="order" style="margin: 0 auto;height:400px;width:100%;"></div><br>
        <div id="product" style="margin: 0 auto;height:400px;width:100%;"></div><br>
        <div id="user" style="margin: 0 auto;height:400px;width:100%;"></div>
    </div>
</div>
{/block}}
{block name="script"}
<script>
    var amountChart = echarts.init(document.getElementById('amount'));
    var orderChart = echarts.init(document.getElementById('order'));
    var productChart = echarts.init(document.getElementById('product'));
    var userChart = echarts.init(document.getElementById('user'));

    amountOption = {
        title: {
            text: '收入趋势图',
            color: '#18bc9c'
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '3%',
            containLabel: true
        },
        xAxis: {
            name: '日期',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 20
            },
            type: 'category',
            data: ['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', ]
        },
        yAxis: {
            name: '收入（元）',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 30
            },
            type: 'value'
        },
        series: [
            {
                name: '订单收入',
                data: ['380.50', '430.50', '350.50', '400.50', '480.50', '380.50', '580.50', ],
                type: 'line'
            }
        ],
        color: ['#bc1725'], // 线条颜色
        backgroundColor: '#dfdfdf'
    };

    amountChart.setOption(amountOption);

    orderOption = {
        title: {
            text: '订单趋势图',
            color: '#18bc9c'
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '4%',
            right: '3%',
            containLabel: true
        },
        xAxis: {
            name: '日期',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 20
            },
            type: 'category',
            data: ['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', ]
        },
        yAxis: {
            name: '订单数',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 30
            },
            type: 'value'
        },
        series: [
            {
                name: '订单数',
                data: ['20', '50', '30', '40', '48', '38', '50', ],
                type: 'line'
            }
        ],
        color: ['#bc1725'], // 线条颜色
        backgroundColor: '#dfdfdf'
    };

    orderChart.setOption(orderOption);

    productOption = {
        title: {
            text: '产品上新趋势图',
            color: '#18bc9c'
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '4%',
            right: '3%',
            containLabel: true
        },
        xAxis: {
            name: '日期',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 20
            },
            type: 'category',
            data: ['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', ]
        },
        yAxis: {
            name: '产品上新',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 30
            },
            type: 'value'
        },
        series: [
            {
                name: '产品上新',
                data: ['5', '4', '3', '7', '5', '2', '0', ],
                type: 'line'
            }
        ],
        color: ['#bc1725'], // 线条颜色
        backgroundColor: '#dfdfdf'
    };
    productChart.setOption(productOption);

    userOption = {
        title: {
            text: '新增用户趋势图',
            color: '#18bc9c'
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '3%',
            containLabel: true
        },
        xAxis: {
            name: '日期',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 20
            },
            type: 'category',
            data: ['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', ]
        },
        yAxis: {
            name: '新增用户',
            nameLocation: 'middle',
            nameTextStyle: {
                color: '#18bc9c',
                fontWeight: 'bolder',
                fontSize: 16,
                verticalAlign: 'bottom',
                padding: 30
            },
            type: 'value'
        },
        series: [
            {
                name: '新增用户',
                data: ['50', '43', '55', '60', '80', '70', '90', ],
                type: 'line'
            }
        ],
        color: ['#bc1725'], // 线条颜色
        backgroundColor: '#dfdfdf'
    };
    userChart.setOption(userOption);

    $('#year').on('change', function () {
        setTitle();
        setOptions();
    });

    $('#month').on('change', function () {
        setTitle();
        setOptions();
    });

    function setOptions() {
        $.ajax({
            type: 'get',
            url: "{:url('Statistics/ajaxEchart')}",
            data: {year: $('#year').val(), month: $('#month').val()},
            dataType: 'json',
            success: function (result) {
                if (result.code === 0) {
                    setAmount(result.data);
                    setOrder(result.data);
                    setProduct(result.data);
                    setUser(result.data);
                }
            }
        });
    }

    function setTitle() {
        var year = $('#year').val();
        var month = $('#month').val();

        $('.title').text(year + '年' + month + '月' + '数据趋势图');
    }

    function setAmount(data) {
        amountChart.setOption({
            xAxis: {
                data: data.dates
            },
            series: [
                {
                    name: '订单收入',
                    data: data.amounts,
                    type: 'line'
                }
            ]
        });
    }

    function setOrder(data) {
        orderChart.setOption({
            xAxis: {
                data: data.dates
            },
            series: [
                {
                    name: '订单数',
                    data: data.orders,
                    type: 'line'
                }
            ]
        });
    }

    function setProduct(data) {
        amountChart.setOption({
            xAxis: {
                data: data.dates
            },
            series: [
                {
                    name: '产品上新',
                    data: data.products,
                    type: 'line'
                }
            ]
        });
    }

    function setUser(data) {
        amountChart.setOption({
            xAxis: {
                data: data.dates
            },
            series: [
                {
                    name: '新增用户',
                    data: data.users,
                    type: 'line'
                }
            ]
        });
    }
</script>
{/block}
