{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file='form' /}
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add,delete" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">轮播图说明</th>
            <th width="">轮播图</th>
            <th width="">关联产品ID</th>
            <th width="">关联产品</th>
            <th width="">排序</th>
            <th width="">是否显示</th>
            <th width="160">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.title}</td>
            <td>{$vo.image|prev_image}</td>
            <td>{$vo.product_id}</td>
            <td>{$vo.product_id}</td>
            <td>{$vo.position}</td>
            <td>{$vo.enabled|get_enabled}</td>
            <td class="f-14">
                {tp:menu menu='myedit' /}
                {tp:menu menu='mydelete' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
{/block}
