{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="delete" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">产品</th>
            <th width="">用户</th>
            <th width="">内容</th>
            <th width="">时间</th>
            <th width="">状态</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.name}</td>
            <td>{$vo.username}</td>
            <td style="position: relative">
                {$vo.content|htmlspecialchars_decode|strip_tags|mb_substr=###,0,30,'utf-8'} ... <span class="see-all" style="color: #10a4aa;cursor:pointer;">查看全部</span>
                <div class="content .bg-1" style="display:none;position: absolute;top:70%;left:21%;width:400px;border:1px solid #dad5d5;font-size:12px;background:#f5fafe;">
                    <div class="title" style="height:36px;line-height: 36px;width:400px;font-size:16px;background:#19a97b;padding:0 20px;color:#fff;">产品评价</div>
                    <div style="padding:5px 20px;">{$vo.content}</div>
                </div>
            </td>
            <td>{$vo.create_time|date='Y-m-d H:i',###}</td>
            <td>{$vo.enabled|get_enabled}</td>
            <td class="f-14" data-id="{$vo.id}">
                {if condition="$vo.enabled == 'Y'"}
                <a title="隐藏" href="javascript:;" class="btn btn-default radius hiddenc" >隐藏评论</a>
                {else /}
                <a title="显示" href="javascript:;" class="btn btn-primary radius showc">显示评论</a>
                {/if}

                {tp:menu menu='mydelete' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

{block name="script"}
<script>
    $(function () {
        $('.hiddenc').on('click', function () {
            var commentId = $(this).parent('td').data('id');
            $.getJSON("{:url('productComment/update')}", {id: commentId, enabled: 'N'}, function (data) {
                if (data.code === 200) {
                    window.location.reload();
                }
            });
        });

        $('.showc').on('click', function () {
            var commentId = $(this).parent('td').data('id');
            $.getJSON("{:url('productComment/update')}", {id: commentId, enabled: 'Y'}, function (data) {
                if (data.code === 200) {
                    window.location.reload();
                }
            });
        });

        $('.see-all').on('click', function () {
            var div = $(this).next('div');

            if(div.is(":visible")) {
                div.hide();
                return false;
            } else {
                div.show();
            }
        });
    });
</script>
{/block}