{extend name="template/base" /}
{block name="content"}
<div class="page-container" style="padding-top:20px;">
    <input type="hidden" id="callbackId" value="{$Request.param.id}">
    <div id="tab_upload" class="HuiTab">
        <div class="tabCon">
            <div>
                <div id="drag" class="mt-30" title="将文件拖拽到此处上传">
                    <label for="fileupload" title="点击上传">
                        <img src="__STATIC__/images/upload99.png" style="height: 100px;width: 100px;margin: 20px" alt="">
                    </label>
                </div>
                <input id="fileupload" type="file" name="file" data-url="{:\\think\\Url::build('uploadVideo')}">
                <div style="color: red">注意: 视频上传比较慢，请等待窗体自动关闭！</div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/lightbox2/css/lightbox.min.css">
{/block}
{block name="script"}
<script src="__LIB__/laypage/1.3/laypage.js"></script>
<!--<script src="__LIB__/tpUpload/tpUpload.js"></script>-->
<script src="__LIB__/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="__LIB__/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script src="__LIB__/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<script src="__LIB__/lightbox2/js/lightbox.min.js"></script>
<script>
    $(function () {
        var callbackId = $("#callbackId").val();
        // Tab 切换
        $.tpTab("#tab_upload .tabBar span", "#tab_upload .tabCon", "current", "click", "0", function (index, tabCon, tabBar) {
            if (index == 2 && tabCon.eq(index).find('.photo-list').html() == '') {
                getListImage({p:p,'count':'1'});
            }
        }, function (i) {

        });
        //
        $('#fileupload').fileupload({
            dataType: 'json',
            dropZone: $('#drag'),
            start: function () {
                layer_msg = layer.msg('正在上传中…', {time: 100000000});
            },
            progressall: function (e, data) {
                $('.layui-layer-msg .layui-layer-content').html('已上传' + (data.loaded / data.total * 100).toFixed(2) + '%');
            },
            done: function (e, data) {
                layer.close(layer_msg);
                console.log(data.result.data.name);
                callback(callbackId,data.result.data.name);
            }
        });
    });

    /**
     * 数据回调
     * @param id
     * @param value
     */
    function callback(id,value) {
//        console.log(id);
//        console.log('value1:' + value);
        if (window.parent.frames.length == 0){
            layer.alert('请在弹层中打开此页');
        } else {
//            console.log('value2:' + value);
            parent.document.getElementById(id).value = value;
            parent.document.getElementById('image').value = value + '?vframe/jpg/offset/10/w/320/h/180';
            layer_close();
        }
    }

</script>
{/block}