{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text" style="width:250px" placeholder="姓名" name="username" value="{$Request.param.username}" >
        <input type="text" class="input-text" style="width:250px" placeholder="电话" name="telephone" value="{$Request.param.telephone}" >
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="delete" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">姓名</th>
            <th width="">电话</th>
            <th width="">留言内容</th>
            <th width="">是否处理</th>
            <th width="">留言时间</th>
            <th width="160">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.username|high_light=$Request.param.username}</td>
            <td>{$vo.telephone|high_light=$Request.param.telephone}</td>
            <td>{$vo.content|mb_substr=###,0,30,'utf-8'}</td>
            <td>{$vo.enabled == 'N' ? '<a class="btn btn-warning">未处理</a>' : '<a class="btn btn-primary">已处理</a>'}</td>
            <td>{$vo.create_time|date="Y-m-d H:i", ###}</td>
            <td class="f-14">
                {tp:menu menu='myedit' /}
                {tp:menu menu='mydelete' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

