<style>
    .form-group{margin-bottom:15px;}
    .col-lg-3 {
        width: 22%;
    }
    .input-text{padding-right:0}
</style>
<form class="mb-20 " id="order_search" style="height:40px;line-height: 34px;" method="get" action="{:\\think\\Url::build($Request.action)}">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <label for="id" class="control-label col-xs-5" style="vertical-align: middle;text-align: right;">产品ID</label>
            <div class="col-xs-7" style="padding-left:0">
                <input type="text" id="id" class="input-text" placeholder="产品ID" name="id" value="{$Request.param.id}" >
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <label for="name" class="control-label col-xs-5" style="vertical-align: middle;text-align: right;">产品名称</label>
            <div class="col-xs-7" style="padding-left:0">
                <input type="text" id="name" class="input-text" placeholder="产品名称" name="name" value="{$Request.param.name}" >
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3" >
            <label for="group_id" class="control-label col-xs-5" style="vertical-align: middle;text-align: right;">所属分类</label>
            <div class="col-xs-7" style="padding-left:0">
                <div class="select-box">
                    <select name="category_id" class="select" id="group_id">
                        <option value="">选择分类</option>
                        {foreach $categories as $item}
                        <option value="{$item.id}">{$item.name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <div class="col-sm-8 col-xs-offset-4" style="padding-left:0">
                <button type="submit" class="btn btn-success">提交</button>
                <input type="reset" class="btn btn-default reset" value="重置">
            </div>
        </div>
    </div>

</form>
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () {
        $('.reset').on('click', function () {
            window.location.href = "{:\\think\\Url::build($Request.action)}"
        })
    })
</script>