{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    {include file="form" /}
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="fulladd,delete,recyclebin" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            {include file="th" /}
            <th width="160">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            {include file="td" /}
            <td class="f-14">
                {tp:menu menu='fulledit' /}
                {tp:menu menu='mydelete' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $("[name='category_id']").find("[value='{$Request.param.category_id}']").attr("selected", true);

        $('.attrs').on('click', function () {
            var table = $(this).next('table');
            var productId = $(this).data('id');

            if(table.is(":visible")) {
                table.hide();
                return;
            }

            if (table.find('tbody').find('tr').length) {
                table.show();
            } else {
                var _html = '';

                $.getJSON("{:url('product/getSku')}", {id: productId}, function (data) {
                    if (len = data.length) {
                        for (var i = 0; i < len ; i++) {
                            _html += '<tr>\n' +
                                '<td>' + data[i].attr + '</td>\n' +
                                '<td>' + data[i].price + '</td>\n' +
                                '<td>' + data[i].stock + '</td>\n' +
                                '</tr>';
                        }
                    } else {
                        _html = '<tr><td colspan="3"><center>暂无数据</center></td></tr>';
                    }

                    table.find('tbody').html(_html);
                    table.show();
                });
            }
        })
    })
</script>
{/block}

