<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td>{$vo.name|high_light=$Request.param.name}</td>
<td>{$vo.image|prev_image}</td>
<td>{$vo.category}</td>
<td>{$vo.price}</td>
<td>{$vo.stock}</td>
<td>{$vo.sales}</td>
<td style="position: relative">
    <span class="attrs" data-id="{$vo.id}" style="color: #0a6999;cursor:pointer">{$vo.attr}</span>
    <table class="table table-border table-bordered table-hover table-bg mt-20 col-sm-6 attr-table" style="display:none;margin-left: 15px;padding-left:0;padding-right:0;position: absolute;top:40%;left:-12%;width:240px;">
        <thead>
        <tr class="text-c">
            <th width="">sku名称</th>
            <th width="">价格（元）</th>
            <th>库存</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</td>
