{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>菜单名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="菜单名称" name="name" value="{$vo.name ?? ''}"  datatype="*" nullmsg="菜单名称不能为空">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>拼音：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" placeholder="拼音" name="pinyin" value="{$vo.pinyin ?? ''}"  datatype="*" nullmsg="请填写拼音">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">父级名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="select-box">
                    <select name="parent_id" class="select">
                        <option value="0">请选择父级菜单</option>
                        {foreach $topMenus as $item}
                        <option value="{$item.id}">{$item.name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">顶部导航显示：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="is_top" id="is_top-0" value="Y">
                    <label for="is_bottom-0">是</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="is_top" id="is_top-1" value="N" checked="checked">
                    <label for="is_bottom-1">否</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">底部导航显示：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="is_bottom" id="is_bottom-0" value="Y">
                    <label for="is_bottom-0">是</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="is_bottom" id="is_bottom-1" value="N" checked="checked">
                    <label for="is_bottom-1">否</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">排序：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="number" class="input-text" placeholder="排序" name="position" value="{$vo.position ?? '1'}">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">是否显示：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="enabled" id="enabled-0" value="Y" checked="checked">
                    <label for="enabled-0">显示</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="enabled" id="enabled-1" value="N">
                    <label for="enabled-1">隐藏</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        var parentId = "{$vo.parent_id ?? 0}";
        $("[name='is_top'][value='{$vo.is_top == 'Y' ?? 'Y'}']").prop("checked", true);
        $("[name='is_bottom'][value='{$vo.is_bottom == 'Y' ?? 'N'}']").prop("checked", true);
        $("[name='enabled'][value='{$vo.enabled == 'N' ?? 'Y'}']").prop("checked", true);
        $("[name='parent_id']").find("[value='"+parentId+"']").attr("selected", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
