{extend name="template/base" /}
{block name="content"}
<style>
    div.title{
        font-size:16px;font-weight: bold;
    }
    .express-info{
        margin: 50px 20px;

    }
    .result-list li {
        display: -webkit-box;
        -webkit-box-align: center;
        overflow: hidden;
        color: #828282;
        border-bottom: 0.0625rem solid #e6e6e6;
    }
    .result-list li .col1 {
        width: 5rem;
        padding: 0.625rem;
        text-align: center;
        font-size: 0.875rem;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
    }
    .result-list li .col2 {
        width: 1.25rem;
        position: relative;
    }
    .result-list li .col2 .line1, .result-list li .col2 .line2 {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 0.5rem;
        height: 10em;
        border-right: 0.0625rem solid #e6e6e6;
    }
    .result-list li .col2 .line2 {
        top: 0;
    }
    .result-list li .col2 .point {
        position: absolute;
        z-index: 2;
        top: -0.5rem;
        left: 0;
        width: 0.9375rem;
        height: 0.9375rem;
        border-radius: 0.9375rem;
        background-color: #fff;
        border: 0.0625rem solid #e6e6e6;
    }
    .result-list li .col1 dd {
        margin-top: 0.25rem;
        font-size: 1.2rem;
    }
    .result-list li .col2 .point:before {
        content: "";
        position: absolute;
        top: 0.45rem;
        left: 0.0625rem;
        height: 0.125rem;
        width: 0.5rem;
        overflow: hidden;
        background: #e6e6e6;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: .02em;
    }
    .result-list li .col2 .point:after {
        content: "";
        position: absolute;
        top: 0.45rem;
        right: 0.0625rem;
        height: 0.125rem;
        width: 0.5rem;
        overflow: hidden;
        background: #e6e6e6;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        border-radius: .02em;
    }
    .result-list li .col3 {
        -webkit-box-flex: 1;
        padding: 0.625rem;
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    .result-list li .col2 .line1, .result-list li .col2 .line2 {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 0.5rem;
        height: 10em;
        border-right: 0.0625rem solid #e6e6e6;
    }
    .result-list li .col2 .line1 {
        top: -10em;
    }
</style>
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <div class="express-info">
            <div class="title">物流信息</div>
            <ul id="result" class="result-list">
                {foreach $express as $key => $item}
                <li class="first">
                    <div class="col1">
                        <dl><dt>{$item['time']|strtotime|date='Y-m-d',###}</dt><dd>{$item['time']|strtotime|date='H:i',###}</dd></dl>
                    </div>
                    <div class="col2">
                        <span class="step3">{if condition="$key != 0"}<span class="line1"></span>{/if}<span class="line2"></span><span class="point"></span></span>
                    </div>
                    <div class="col3">{$item['context']}</div>
                </li>
                {/foreach}
            </ul>
        </div>
        <div class="row cl" >
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3" >
                <button type="submit" class="btn btn-primary radius" style="display: none">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;返回&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
