{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">公司名称</th>
            <th width="">图片展示</th>
            <th width="">加盟热线</th>
            <th width="">传真</th>
            <th width="">网址</th>
            <th width="">邮箱</th>
            <th width="">地址</th>
            <th width="">乘车路线</th>
            <th width="">经度</th>
            <th width="">纬度</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.company}</td>
            <td>{$vo.image}</td>
            <td>{$vo.telephone}</td>
            <td>{$vo.fax}</td>
            <td>{$vo.site}</td>
            <td>{$vo.email}</td>
            <td>{$vo.address}</td>
            <td>{$vo.route}</td>
            <td>{$vo.lat}</td>
            <td>{$vo.lng}</td>
            <td class="f-14">
                {tp:menu menu='sedit' /}
                {tp:menu menu='sdeleteforever' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

